<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ name }}</title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script src="./static/mobile/js/utils/computeRootSize.min.js"></script>
    <link rel="stylesheet" href="./static/mobile/css/bh.min.css">
    <link rel="stylesheet" href="./static/mobile/css/bh-scenes.min.css">
    <link rel="stylesheet" href="./static/mobile/iconfont/iconfont.css">
    <link rel="stylesheet" href="./static/mobile/local_iconfont/iconfont.css">
  </head>
  <body>
    <div id="app"></div>
    <script src="dist/build.js"></script>
  </body>
</html>
