
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1482830394922'); /* IE9*/
  src: url('iconfont.eot?t=1482830394922#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1482830394922') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1482830394922') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1482830394922#iconfont') format('svg'); /* iOS 4.1- */
}

.local_iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shezhi:before { content: "\ea27"; }

.icon-dizhi:before { content: "\ea26"; }

.icon-shuaxin:before { content: "\ea25"; }

.icon-dengpaoliang:before { content: "\ea30"; }

.icon-naozhong:before { content: "\ea23"; }

.icon-jiahao01:before { content: "\ea29"; }

.icon-beizhu:before { content: "\ea24"; }

.icon-naozhong1:before { content: "\ea22"; }

.icon-tianjia:before { content: "\ea28"; }

.icon-diandian:before { content: "\ea31"; }

.icon-rilimoshi-:before { content: "\ea32"; }

.icon-kaowan:before { content: "\ea33"; }

.icon-tarenricheng:before { content: "\ea34"; }

.icon-weikaowan:before { content: "\ea35"; }

.icon-caidan:before { content: "\ea36"; }

.icon-gengduo:before { content: "\e613"; }

